body{
    font-family: 'Open Sans', sans-serif;
    
}

h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
}

.fa-linkedin{
    color:rgb(36, 150, 226);
}
.fa-instagram{
    color:hotpink;
} 
.fa-github{
    color:rgb(255, 255, 255);
} 


.color{
    background-color: rgb(50, 66, 80);
}

.borde{
    border: .2rem solid ghostwhite;
}
/*background-color: rgb(233, 197, 143)